<md-toolbar class="nav-theme">
 
  <span class="example-spacer"></span>
  <span [hidden]="!local_loggedIn"><a md-button class="font-theme" routerLink="/addUser">AddUser</a></span>
  <span [hidden]="!local_loggedIn"><a md-button class="font-theme" routerLink="/userList">ViewUsers</a></span>
  <span [hidden]="!local_loggedIn"><a md-button class="font-theme">Teams</a></span>
  <span [hidden]="!local_loggedIn"><a md-button class="font-theme">Flights</a></span>
  <span [hidden]="!local_loggedIn"><a md-button class="font-theme">Passengers</a></span>
  <span [hidden]="!local_loggedIn"><a md-button (click)="logout()" class="font-theme">Logout</a></span>
</md-toolbar>
